<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="torso_transmission" params="prefix">

    <transmission name="${prefix}joint_b1_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_b1">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint_b1_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

<!--     <transmission name="${prefix}joint_b2_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_b2">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint_b2_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission> -->

  </xacro:macro>

</robot>
